html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/static/Raleway-Black.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
	font-weight: lighter;
}

html {
	font-family: 'Raleway';
}

div.container {
	margin: auto;
	width: 90%;
}

header.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 1rem;
	align-items: center;
}

.logo {
	height: 3rem;
	margin: 1rem 0;
}

.menu a {
	margin: 0.5rem 1rem;
	border-top: 2px solid white;
	padding: 1.5rem 0.5rem 0;
	text-decoration: none;
	color: grey;
}

.menu a:hover {
	border-color: blue;
	color: blue;
}

.menu-ul {
	display: flex;
}

.menu li:last-child a {
	color: #0065FC;
	font-weight: 620;
}

section.section-search {
	#
}

h1.texte-gras {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

div.hero {
	#
}

form.form-search {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2rem;
	padding-right: 1rem;
	padding-top: 2rem;
}

div.form-group {
	display: flex;
}

section.section-filters {
	display: flex;
	margin-bottom: 2rem;
	align-items: center;
	flex-wrap: wrap;
}

.filtres-texte {
	margin-right: 4rem;
}

div.filters {
	display: flex;
	flex: 1;
	width: 100%;
	border-radius: 14px;
}

div.filter button {
	margin-bottom: 1rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	border-radius: 2rem;
	background-color: #F2F2F2;
	font-size: 1.25rem;
	background: none;
	border: 2px solid #d3d3d3;
	transition: background-color 0.3s;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding-right: 1rem;
	padding-left: 0;

}

.filter:hover button {
	background-color: #cfcfcf;
}

.circle {
	background: #DEEBFF;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	padding: 1rem 1rem 1rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-money-bill-wave {
	color: #0065FC;
}

.fa-child {
	color: #0065FC;
}

.fa-heart {
	color: #0065FC;
}

.fa-dog {
	color: #0065FC;
}

.info {
	flex: 0 0 100%;
	display: flex;
	align-items: center;
	margin-top: 2rem;
}


section.section-hebergements-populaires {
	display: flex;
	grid-template-columns: 70% 30%;
	grid-gap: 2rem;
}

div.hebergements {
	width: 66%;
	display: flex;
	flex-direction: column;
	margin-right: 2rem;
	background-color: #F2F2F2;
	padding: 2rem;
	border-radius: 14px;
}

div.grid-hebergements {
	height: 100%;
	margin-bottom: 2rem;
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

img.images-hebergement {
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	position: absolute;
	transition: transform 0.3s ease;
}

.vignette-texte {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 24px;
	padding: 0.5rem;
	box-shadow: 4px 2px 8px 1px #CCCCCC;
}

.vignette-texte:hover img {
	transform: scale(1.3);
}

h2.texte-gras {
	font-size: 1.3rem;
}

.texte-hebergement {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-left: 1rem;
	flex: 1;

}

.first-text-lign {
	margin-bottom: 0.5rem;
}

.texte-gras {
	font-weight: bold;
	color: black;
}

.star-filled {
	color: #0065FC;
}

.star-empty {
	color: #F2F2F2;

}


.vignette-hebergement {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100px;
	overflow: hidden;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}


div.populaires {
	display: flex;
	width: 33%;
	background-color: #F2F2F2;
	flex-direction: column;
	border-radius: 14px;
	padding: 2rem;
}

div.vignette-populaire {
	background-color: #ffffff;
	display: flex;
	height: 100%;
	overflow: hidden;
	border-radius: 24px;
	padding: 0.5rem;
	margin-bottom: 2rem;
	box-shadow: 4px 2px 8px 1px #CCCCCC;
}

.vignette-populaire:hover img {
	transform: scale(1.3);
}

.texte-logo-p {
	display: flex;
	justify-content: space-between;
}

h3.texte-gras {
	margin-bottom: 2rem;
	font-size: 1.4rem;
}


.texte-star {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	margin-left: 1rem;
}

.text-only {
	margin-top: 0.5rem;
	margin-bottom: 0, 5rem;
}

.text-half {
	margin-bottom: 1rem;
}

.dooble-text {
	margin-bottom: 1rem;
}


.block-image {
	display: block;
	height: 100%;
	width: 50%;
	top: 0%;
	left: 0%;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;

}

.images-populaires {
	display: block;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	object-fit: cover;
	position: absolute;
	transition: transform 0.3s ease;
}

section.section-activites {
	display: flex;
	height: 50vh;
	width: 100%;
	flex-direction: column;
	margin-top: 3rem;
	border-radius: 24px;
}

.block-activite {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 24px;
	background-color: white;
	padding-top: 1.5rem;
	height: 100%;
}


div.grid-activite {
	background-color: white;
	display: grid;
	height: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.block-a {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-row: 1 / span 2;
}

.block-b {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
	height: 100%;
	grid-row: 1 / span 2;
	display: flex;
	flex-direction: column;
}

.block-pomegues {
	height: 60%;
	margin-bottom: 2rem;
}

.block-frioul {
	height: 40%;
}



.block-c {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	height: 100%;
	grid-row: 1 / span 2;
}

.block-d {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-row: 1 / span 2;
}

.block-e {
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 1;
}

.block-f {
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2;
}



.espacement-bordure {
	margin-left: 1rem;
	margin-top: 1rem;
	padding-bottom: 1rem;
}

.block-a-image {
	display: block;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}


.vignette-a-texte {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	box-shadow: 4px 2px 8px 1px #CCCCCC;
	border-radius: 24px;
	height: 100%;
}

.vignette-a-texte:hover img {
	transform: scale(1.3);
}

h4.texte-gras {
	font-size: 1.4rem;
}



img.images-activite {
	display: block;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	object-fit: cover;
	position: absolute;
	transition: transform 0.3s ease;
}

.footer-box {
	width: 100%;
	margin: auto;
	background-color: #F2F2F2;
}

div.footer {
	display: flex;
	padding-bottom: 3rem;
	padding-top: 3rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 90%;
	margin: auto;

}


.colonne-texte:not(:last-child) {

	margin-right: 17.5rem;

}

.footer-ligne-texte {
	margin-bottom: 1rem;
	color: black;

}



h5.texte-gras {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

@media screen and (max-width: 1280px) {}