html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/static/Raleway-Black.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
	font-weight: lighter;
}

html {
	font-family: 'Raleway';
}

div.container {
	margin: auto;
	width: 90%;
}

header.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	align-items: center;
}


.logo {
	height: 3rem;
	margin: 1rem 0;
}

ul.no-visible-ipad {
	display: none;
}

.menu a {
	margin: 0.5rem 1rem;
	border-top: 2px solid white;
	text-decoration: none;
	color: grey;
}

.menu a:hover {
	border-color: blue;
	color: blue;
}

.menu-ul {
	display: flex;
}

.link_moved-two {
	display: none;
}

.block-two-links {
	display: flex;
}

/* .menu li:first-child a {
	color: #0065FC;
} */

.menu li.blouge a {
	color: #0065FC;
}

.menu .link_moved {
	font-weight: 620;
	color: #0065FC;
}

.texte-gras-h1 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: bold;
	color: black;
}

.subtitle {
	font-weight: bold;
}



form.form-search {
	display: flex;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

div.form-group {
	display: flex;
	border-radius: 14px;
	border: 1px solid #F2F2F2;
}

.search-box {
	border: none;
}

.deco-ico {
	background: #F2F2F2;
	width: 1rem;
	height: 1rem;
	padding: 1rem 1rem 1rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
}

.bouton_recherche {
	background-color: #0065FC;
	width: 8rem;
	height: 3rem;
	border-bottom-right-radius: 14px;
	border-top-right-radius: 14px;
	padding: 1rem 2rem 1rem 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.1rem;
	border: #0065FC;
	cursor: pointer;
}

.fa-search {
	display: none;
}

section.section-filters {
	display: flex;
	margin-bottom: 2rem;
	align-items: center;
	flex-wrap: wrap;
}

.filtres-texte {
	margin-right: 2rem;
}

div.filters {
	display: flex;
	flex: 1;
	border-radius: 14px;
}

div.filter button {
	margin-bottom: 1rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	border-radius: 2rem;
	background-color: #F2F2F2;
	font-size: 1.25rem;
	background: none;
	border: 2px solid #d3d3d3;
	transition: background-color 0.3s;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding-right: 1rem;
	padding-left: 0;
}

.filter:hover button {
	background-color: #cfcfcf;
}

.circle {
	background: #DEEBFF;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	padding: 1rem 1rem 1rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-money-bill-wave {
	color: #0065FC;
}

.fa-child {
	color: #0065FC;
}

.fa-heart {
	color: #0065FC;
}

.fa-dog {
	color: #0065FC;
}

.fa-info {
	margin-right: 1rem;
	font-size: 1rem;
	color: #0065FC;
}

.circle-i {
	background: white;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #cfcfcf;
}

.info {
	flex: 0 0 100%;
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

.texte-disponibilite {
	font-weight: bold;
}

section.section-hebergements-populaires {
	display: grid;
	grid-template-columns: 70% 27%;
	grid-gap: 3%;
}

div.hebergements {
	background-color: #F2F2F2;
	padding: 2rem;
	border-radius: 14px;
}

div.grid-hebergements {
	margin-bottom: 2rem;
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

img.images-hebergement {

	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.vignette-texte {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 24px;
	padding: 0.5rem;
	box-shadow: 4px 2px 8px 1px #CCCCCC;
	height: 100%;
	box-sizing: border-box;
}

.vignette-texte:hover img {
	transform: scale(1.3);
}

.texte-gras-h3 {
	font-size: 1.3rem;
	font-weight: bold;
	color: black;
}

.texte-hebergement {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	flex: 1;
	justify-content: space-between;
}

.first-text-lign {
	margin-bottom: 0.5rem;
}

.texte-gras {
	font-weight: bold;
	color: black;
}

.star-filled {
	color: #0065FC;
}

.star-empty {
	color: #F2F2F2;

}

.stars {
	display: flex;
	margin-top: 1rem;

}

.vignette-hebergement {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	height: 120px;
	overflow: hidden;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;

}


div.populaires {
	display: flex;
	width: auto;
	background-color: #F2F2F2;
	flex-direction: column;
	border-radius: 14px;
	padding: 2rem;
}

.fa-chart-line {
	font-size: 1.5rem;
}

div.vignette-populaire {
	background-color: #ffffff;
	display: grid;
	grid-template-columns: 30% 70%;
	overflow: hidden;
	border-radius: 24px;
	padding: 0.5rem;
	margin-bottom: 2rem;
	box-shadow: 4px 2px 8px 1px #CCCCCC;
	height: 135px;
	box-sizing: border-box;

}

.vignette-populaire:hover img {
	transform: scale(1.3);
}

.texte-logo-p {
	display: flex;
	justify-content: space-between;
}

.texte-gras-h2 {
	margin-bottom: 2rem;
	font-size: 1.4rem;
	font-weight: bold;
	color: black;
}


.texte-star {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 1rem;
}

.text-only {
	margin-top: 0.5rem;
	color: grey;
}

.text-half {
	margin-bottom: 1rem;
}

.dooble-text {
	margin-bottom: 1rem;
}


.block-image {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;

}

.images-populaires {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

section.section-activites {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	border-radius: 24px;
}

.block-activite {
	display: flex;
	flex-direction: column;
	border-radius: 24px;
	background-color: white;
	padding-top: 1.5rem;
}


div.grid-activite {
	background-color: white;
	display: grid;
	height: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.block-a {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-row: 1 / span 2;
}

.block-b {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
	grid-row: 1 / span 2;
	display: grid;
	grid-template-rows: 52% 40%;
	grid-gap: 8%;

}

.block-pomegues {
	height: 100%;
}

.block-frioul {
	height: 100%;
}



.block-c {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	grid-row: 1 / span 2;
}

.block-d {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-row: 1 / span 2;
}

.block-e {
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 1;
}

.block-f {
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2;
}



.espacement-bordure {
	margin-left: 1rem;
	margin-top: 1rem;
	padding-bottom: 1rem;
}

.block-a-image {
	display: block;
	height: 150px;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.block-a .block-a-image,
.block-d .block-a-image {
	height: 90%;
}

.block-act-image {
	display: block;
	height: 175px;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.vignette-a-texte {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	box-shadow: 4px 2px 8px 1px #CCCCCC;
	border-radius: 24px;
	height: 100%;
}

.vignette-a-texte:hover img {
	transform: scale(1.3);
}

.texte-gras-h4 {
	font-size: 1.4rem;
	font-weight: bold;
	color: black;
}



img.images-activite {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.footer-box {
	background-color: #F2F2F2;
	padding: 0 1rem;
}

div.footer {
	display: flex;
	justify-content: space-between;
	padding-bottom: 3rem;
	padding-top: 3rem;
	margin-top: 2rem;
	margin-bottom: 2rem;

}

.footer-ligne-texte {
	margin-bottom: 1rem;


}

.footer-ligne-texte a {
	color: black;
}

@media screen and (max-width: 767px) {
	div.container {
		width: 98%;
	}

	header.header {
		flex-direction: column;
	}

	div.logo-and-link {
		display: flex;
		align-items: center;
	}

	li.changing-color-resp a {
		color: grey;
	}

	.space-box {
		margin-right: 5rem;
	}


	nav.menu {
		display: none;
	}

	.menu a {
		border-bottom: 2px solid white;
		border-top: hidden;
		margin: 0;
	}



	.link_moved-two {
		display: flex;
		font-weight: 620;
		color: #0065FC;
	}

	ul.no-visible-ipad {
		display: flex;
	}

	a.color-link-resp {
		color: #0065FC;
		margin-right: 5rem;
	}

	.bouton_recherche {
		border-radius: 14px;
		width: 1.5rem;
		height: 1.5rem;
		padding: 1.5rem 1.5rem 1.5rem 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	p.word_search {
		display: none;
	}

	i.fa-search {
		display: block;
	}

	section.section-filters {

		flex-direction: column;

	}

	div.filters {
		margin-top: 1rem;
		flex-direction: column;
		width: 98%;
	}

	.filtres-texte {
		margin-right: 14rem;
	}

	div.responsive-filter {
		display: flex;


	}

	section.section-hebergements-populaires {
		display: flex;
		flex-direction: column-reverse;
	}

	div.hebergements {
		background: none;
		padding: 0;
	}


	div.grid-hebergements {
		display: block;
	}

	.vignette-texte {
		margin-bottom: 15px;
	}

	.texte-hebergement {
		margin-top: 1rem;
	}

	div.vignette-populaire {
		margin-bottom: 1rem;
	}

	div.populaires {
		margin-bottom: 2rem;
	}

	.text-only {
		margin-top: 0;
	}




	.link {
		display: block;
	}

	.link_moved {
		display: none;
	}

	section.section-activites {
		display: block;
	}

	.block-activite {
		display: block;

	}

	div.grid-activite {
		display: block;
	}

	.block-a {
		margin-bottom: 2rem;
	}

	.block-b {
		margin-bottom: 2rem;
		display: block;
	}

	.block-pomegues {
		margin-bottom: 2rem;
	}

	.block-c {
		margin-bottom: 2rem;
	}

	.block-d {

		margin-bottom: 2rem;
	}

	.block-e {

		margin-bottom: 2rem;
	}

	.block-f {
		margin-bottom: 2rem;
	}

	.block-a .block-a-image,
	.block-d .block-a-image {
		height: 150px;
	}

	.block-act-image {
		height: 150px;
		position: relative;
		overflow: hidden;
		border-top-left-radius: 14px;
		border-top-right-radius: 14px;
	}

	.footer-box {
		display: block;
	}

	div.footer {
		display: block;

	}

	.colonne-texte {
		margin-bottom: 2rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1223px) {

	ul.no-visible-ipad {
		display: none;
	}

	section.section-filters {

		flex-direction: column;

	}

	div.filters {
		margin-top: 1rem;
		flex-direction: column;
		align-items: center;
	}

	.filtres-texte {
		margin-right: 0;
	}

	section.section-hebergements-populaires {
		display: flex;
		flex-direction: column-reverse;
	}

	div.grid-hebergements {
		display: flex;
		flex-direction: column;
	}

	.vignette-hebergement {
		height: 280px;
	}

	div.populaires {
		margin-bottom: 1rem;
	}

	div.vignette-populaire {
		height: 180px;
	}

	div.grid-activite {
		display: flex;
		flex-direction: column;
	}

	.block-a-image {
		height: 240px;
	}

	.block-act-image {
		height: 192px;
		position: relative;
		overflow: hidden;
		border-top-left-radius: 14px;
		border-top-right-radius: 14px;
	}

	.vignette-a-texte {
		height: 240px;
		display: flex;
		flex-direction: column;
	}

	.block-b {
		display: flex;
		flex-direction: column;
	}

	.block-pomegues {
		margin-bottom: 2rem;
	}
}