html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'Raleway';
	src: url('PoliceRaleway/Raleway/static/Raleway-Black.ttf') format('truetype');

}

html {
	font-family: 'Raleway';
}

img {
	height: auto;
}

img.imagette {
	display: block;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	object-fit: cover;
	position: absolute;
	border-radius: 14px;
}



div.header {
	display: grid;
}

#logo {
	height: 5vh;
	display: flex;
}

.barre_info {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	;
}

section.barre_recherche {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 6rem;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 6rem;
}

section.filtres {
	display: flex;
}

section.hebergement_et_populaires {
	display: grid;
	height: 37vh;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 100%;
	grid-column-gap: 2rem;
	grid-template-areas: "hebergement_marseille les_plus_populaires"

}

div.hebergement_marseille {
	grid-area: hebergement_marseille;
	background-color: #F2F2F2;
	border-radius: 14px;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	grid-template-areas:
		"heb1 heb2 heb3"
		"heb4 heb5 heb6";
}


.boite_hebergement {
	background-color: #fff;
	border: 2px;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

div.boite_hebergement_image_seulement {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.boite_hebergement1 {

	grid-area: heb1;
}

div.boite_hebergement2 {

	grid-area: heb2;
}

div.boite_hebergement3 {

	grid-area: heb3;
}

div.boite_hebergement4 {

	grid-area: heb4;
}

div.boite_hebergement5 {
	grid-area: heb5;
}

.boite_hebergement6 {

	grid-area: heb6;
}

div.les_plus_populaires {
	grid-area: les_plus_populaires;
	display: grid;
	background-color: #F2F2F2;
	flex-direction: column;
	flex: 1;
	border-radius: 14px;
	grid-template-areas:
		"pop1"
		"pop2"
		"pop3";
}

div.boite_images_populaires {
	display: flex;
	border-radius: 14px;
	margin-bottom: 2rem;
	border: #F2F2F2;
	height: 21vh;
	width: 40vw;
}

div.boite_populaires1 {

	grid-area: pop1;
	border-radius: 14px;
	overflow: hidden;
}

div.boite_populaires2 {

	grid-area: pop2;
	border-radius: 14px;
}

div.boite_populaires3 {

	grid-area: pop3;
}

img.populaires {
	height: 16vh;
	width: 15vw;
	/* min-width: 32%;
	max-width: 100%;
	object-fit: cover; */
}

section.activites {
	background-color: #F2F2F2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 50% 50%;
	grid-column-gap: 2rem;
	grid-template-areas:
		"ba1 ba2 ba4 ba5"
		"ba1 ba3 ba4 ba6";
}

div.boite_activites1 {

	grid-area: ba1;
}

div.boite_activites2 {

	grid-area: ba2;
}

div.boite_activites3 {

	grid-area: ba3;
}

div.boite_activites4 {

	grid-area: ba4;
}

div.boite_activites5 {

	grid-area: ba5;
}

div.boite_activites6 {

	grid-area: ba6;
}

img.activites {
	height: 30vh;
	min-width: 100%;
	max-width: 100%;
	object-fit: cover;
}

img.activites_zoomable {
	height: 30vh;
}

div.footer {
	background-color: #F2F2F2;
	display: flex;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}


div.conteneur {
	margin: auto;
	width: 1440px;
}