html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'Raleway';
	src: url('PoliceRaleway/Raleway/static/Raleway-Black.ttf') format('truetype');

}

html {
	font-family: 'Raleway';
}

img {
	height: auto;
	max-width: 33%;
}

img.imagette {
	height: 150px;
	max-width: 100%;
	min-width: 100%;
	object-fit: cover;
}

div.header {
	display: grid;
}

#logo {
	height: 30px;
	display: flex;
}

.barre_info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

section.barre_recherche {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 50px;
}

section.filtres {
	display: flex;

}

section.hebergement_et_populaires {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 50% 50%;
	grid-column-gap: 20px;
}



.boite_hebergement {
	align-items: center;
	background-color: #fff;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 207px;
	justify-content: space-around;
	padding-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.conteneur_boite_herbergement {
	flex-wrap: wrap;
}

div.ligne_boite_hebergement {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: wrap;
	justify-content: space-around;
	margin-bottom: 20px;
}

div.ligne_boite_hebergement2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: wrap;
	justify-content: space-around;
}



div.hebergement_marseille {
	background-color: #F2F2F2;
	border-radius: 14px;
}

div.les_plus_populaires {
	background-color: #F2F2F2;
}

div.boite_images_populaires {
	display: flex;
	align-items: center;
	border-radius: 14px;
	margin-bottom: 20px;
	border: #F2F2F2;
}

div.texte_boite_populaires {
	display: flex;
	flex-direction: column;
	align-self: start;
	margin-left: 20px;
}

section.activites {
	background-color: #F2F2F2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 50% 50%;
	grid-column-gap: 20px;
}

div.boite_activites1 {
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: span 2;
	grid-column-end: span 1;
}

div.boite_activites2 {
	grid-column-start: 2;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 1;
}

div.boite_activites3 {
	grid-column-start: 2;
	grid-row-start: 2;
	grid-column-end: 2;
	grid-row-end: 2;
}

div.boite_activites4 {
	grid-column-start: 3;
	grid-row-start: 1;
	grid-column-end: 3;
	grid-row-end: span 2;
}

div.boite_activites5 {
	grid-column-start: 4;
	grid-row-start: 1;
	grid-column-end: 4;
	grid-row-end: 1;
}

div.boite_activites6 {
	grid-column-start: 4;
	grid-row-start: 2;
	grid-column-end: 4;
	grid-row-end: 2;
}

div.footer {
	background-color: #F2F2F2;
	display: flex;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 2px;
	border: #F2F2F2;
}


div.conteneur {

	margin: auto;
	width: 1440px;
}